body {
    position: relative;
}

.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}

.navbar {
    margin-bottom: 0px;
}

.affix~.container-fluid {
    position: relative;
    top: 50px;
}

#hostPageBtn {
    float: right;
}

#aboutMe {
    height: 200px;
    background-color: darkseagreen;
}

#Featured {
    width: 100%;
    padding-top: 50px;
    height: 500px;
}

#MoreAboutMe {
    padding-top: 50px;
    height: 500px;
}

#Email {
    padding-top: 50px;
    height: 500px;
}

#ContactInfo {
    padding-top: 50px;
    height: 500px;
}

